
<div class="container">
  <h1>List</h1>
  <button (click)="registerFormButton()">Register</button>
  <table class="table">
    <thead>
    <tr>
      <th>#</th>
      <th>email</th>
      <th>name</th>
      <th>phone</th>
      <th>address</th>
      <th>Age</th>
      <th>Sex</th>
      <th>password</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let rgt of registers; index as i">
      <td>{{i +1}}</td>
      <td>{{rgt.email}}</td>
      <td>{{rgt.name}}</td>
      <td>{{rgt.phone}}</td>
      <td>{{rgt.address}}</td>
      <td>{{rgt.age}}</td>
      <td>{{rgt.gender}}</td>
      <td>{{rgt.password}}</td>
      <td><button (click)="editRegister(rgt)">Edit</button></td>
    </tr>
    </tbody>
  </table>
</div>
<app-register (onRegister)="addRegister($event)" *ngIf="isRegisterSelected"></app-register>
<app-edit (editItemChange)="updateRegister($event)" [editItem]="registers[index]" *ngIf="isUpdated"></app-edit>
